$gulp-red: #d44b4b;

body {
  background: $gulp-red;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 24em;

  .item {
    flex: none;
  }
}
